{% extends 'layout.njk' %}


{% block head%}

    <title>Receitas - Foodfy</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
{% endblock %}

    {% block content %}

    <section class="cards">

        {% for item in items %} 
    
    <div class="card" id="{{item.title}}">
        <a href="/recipes/{{items.indexOf(item)}}">
        <div class="imgCard">
            <img src="{{item.image}}" alt="">
        </div>
        </a>
        <div class="recipe">
            <p class="title">{{item.title}}</p>
            <p class="chef">{{item.author}}</p>
        </div>
    </div>
          
        {% endfor %}

    </section>

    {% endblock content %}
