{% extends 'layoutChefs.njk'%}

    {% block content %}

<form method="POST" action="/admin/chefs">
        <h3 class="admin-titles">Criar Chef</h3>
        
            {% include 'admin/fieldsChef.njk'%}
    
    
    <button class="buttons" type="submit">Salvar Chef</button>

</form>

    {% endblock content %}

        
