{% extends 'layoutAdmin.njk' %}

{% block content %}

        <h3 class="admin-titles">Nova Receita</h3>

    <form method="POST" action="/admin">
        
        
        
        
        {% include 'admin/fields.njk' %}

    </form>

    
{% endblock content %}