{% extends 'layoutAdmin.njk' %}


    {% block content %}

    <h3 class="admin-titles" >Chef: {{chef.name}}</h3>
    <button class="buttons">EDITAR</button>
      <div id="wrapper">
        <img src="{{chef.avatar_url}}" alt="{{chef.name}}">
        <h1>{{chef.name}}</h1>
        <h2>{{chef.total_recipes}} Receitas</h2>
    </div>

<div class="chef-recipes">

</div>

    {% endblock content %}
 