{% extends 'layoutAdmin.njk' %}

{% block content %}

     <h3 class="admin-titles">Editar Receita</h3>

    <form method="POST" action="/admin/recipes?_method=PUT">
     
        {% include 'admin/fields.njk' %}
         
        <input type="hidden" name="id" value="{{recipe.id}}">
    
    </form>
 
    <form action="/admin/recipes?_method=DELETE" method="POST">
        
        <button class="btn-delete" type="submit">Deletar Receita</button>
        <input type="hidden" name="id" value="{{recipe.id}}">
        
        </form>
   

    

{% endblock content %}