{% extends 'layoutAdmin.njk' %}

{% block content %}
    <div class="adminHeader">
     <h3>Editar Receita</h3>

   
    </div>

    
    <form method="POST" action="/admin/recipes?_method=PUT">
     
        {% include 'admin/fields.njk' %}
         
        <input type="hidden" name="id" value="{{recipe.id}}">
    
    </form>
 
    <form action="/admin/recipes?_method=DELETE" method="POST">
        
        <button type="submit">Deletar Receita</button>
        <input type="hidden" name="id" value="{{recipe.id}}">
        
        </form>
   

    

{% endblock content %}