<div class="item">
    <div>Nome da Receita</div>
    <div>
        <input type="text" name="title" value="" placeholder="{{recipe.title}}">
    </div>
</div>


<div class="item">
    <div>Imagem da receita</div>
    <div>
        <div id="photos-upload">
          <input
            id="photos-input" 
            type="file" 
            name="photos"
            multiple
            accept="image/*"
            onchange="PhotosUpload.handleFileInput(event)"
          >
           

        </div>
        
        <div id="photos-preview">
           <i class="material-icons">add</i>
        </div>
    </div>
</div>

<div class="item">
    <div>Chef</div>
    <div>
      <select name="chef">
        {% for chef in chefOptions %}
          <option value="{{chef.id}}" {% if recipes.chef_id == chef.id %} selected {% endif %}>
            {{chef.name}}
          </option>
          {% endfor %}
      </select>
    </div>
</div>

<div class="item" id="ingredients">
    <div>Ingredientes</div>
  <div class="ingredient">
    <input type="text" name="ingredients[]" value="{{recipe.ingredients}}" placeholder="Ingrediente" />
  </div>
</div>
<button type="button" class="add-ingredient">Adicionar Ingrediente</button>

<div class="item" id="preparationMethod">
  
  <div>Modo de Preparo</div>
  
  <div class="preparations">
    <input type="text" name="preparation[]" value="{{recipe.preparation}}" placeholder="Modo de Preparo" />
  </div>
</div>
<button type="button" class="add-method">Adicionar Passo</button>


<div class="item">
    <div>Informações adicionais</div>
    <div>
        <input id="informations" type="text" name="information" value="{{recipe.information}}">
    </div>
</div>

      <button class="buttons" type="submit">Salvar Receita</button>

<script>
      function addIngredient() {
    const ingredients = document.querySelector("#ingredients");
    const fieldContainer = document.querySelectorAll(".ingredient");
  
    // Realiza um clone do último ingrediente adicionado
    const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);
  
    // Não adiciona um novo input se o último tem um valor vazio
    if (newField.children[0].value == "") return false;
  
    // Deixa o valor do input vazio
    newField.children[0].value = "";
    ingredients.appendChild(newField);
  }
  
  document
    .querySelector(".add-ingredient")
    .addEventListener("click", addIngredient);
    
 

   
   function addPreparation() {
    const preparationMethod = document.querySelector("#preparationMethod");
    const fieldContainer = document.querySelectorAll(".preparations");
  
    // Realiza um clone do último ingrediente adicionado
    const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);
  
    // Não adiciona um novo input se o último tem um valor vazio
    if (newField.children[0].value == "") return false;
  
    // Deixa o valor do input vazio
    newField.children[0].value = "";
    preparationMethod.appendChild(newField);
  }
  
  document
    .querySelector(".add-method")
    .addEventListener("click", addPreparation);  



</script>


