@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Roboto-Regular', sans-serif;
}



.centroLogo {
    border-radius: 30px 30px;
    background-color:#fbdfdb;
    max-width: 940px;
    max-height: 366px;
    margin: 0 auto;
    padding: 16px;
}

.centroLogo img {
	left:70%;
    top:50%;
    margin-top: -20%;
    margin-left: 624px;
       
}

.centroLogo h1 {
    margin-top: 100px;
    margin-left: 15px;
    padding: 16px;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 32px;
    line-height: 38px;
    
    
}

.centroLogo p {
    margin-left: 24px;
    margin-top: -10px;
    padding: 8px;
    opacity: 0.7;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    line-height: 28px;
    white-space: normal;
    
}


h1 {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 24px;
    line-height: 28px;
    /* margin-top: 50px; */
    /*margin-left: 480px;*/
    margin-bottom: 20px;
    padding: 16px;
    
}

/* ============ CARDS ============*/


footer {
    height: 62px;
    background-color: #EEEEEE;
    position: relative;

}

footer p {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    color: #999999;
    text-align: center;
    padding: 23px;
    margin-top: 71px;
}

/* ======== PAGINA SOBRE ======= */

.text-Container {
    max-width: 940px;
    max-height: 280px;
    margin: auto;
}

.texts {

    font-size: 18px;
    font-family: 'Roboto-Regular', sans-serif;
    color: #444444;
    line-height: 28px;

}

.modal-overlay { 
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    visibility: hidden;
    
}   

.modal-content {
    background-color: #FFFFFF;
    width: 660px;
    height: 413px;
    margin: 25vh auto;
    border-radius: 16px;
    position: relative;
}

.modal-content img {
    padding: 30px;
    width: 600px;
    height: 200px;
    border-radius: 40px 40px
}

.modal-content h2{
    text-align: center;
    font-family: 'Roboto-Regular', sans-serif;
    color: #111111;
    font-size: 24px;
    margin-top: 8px;

}

.modal-content p {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 18px;
    color: #777777;
    text-align: center;
}

.close-modal p {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    color: #999999;
    margin-top: 60px;
    
}

.modal-overlay.active {
    visibility: visible;
    opacity: 1
}

.close-modal {
    cursor: pointer;
}


/* ======== DETALHES RECEITA ======= */

.container {
    margin: 0 auto;
    padding: 8px;
    animation: fadeIn 0.5 ease-in-out;
    min-height: 85vh;
    display: block;
    max-width: 940px;
    position: relative;
}

.container h3

.hide {
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.topic h3,h4 {
    display: inline-block;
}

.recipe-header h1,h2 {
    margin: 0 auto;
    text-align: center;
    
}

.recipe-header h1 {
    margin-top: 50px;
    font-size: 36px;
}

.recipeDetail .recipe-header h2 {
    font-size: 20px;
    line-height: 24px;
    color: #777777;
    margin-top: 4px;
}

.recipe-header img {
    border-radius: 15px 15px;
    margin: 0 auto;
}

.topic h3 {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28px;
    color: #111111;
}

.topic h3 {
    margin: 16px 8px 16px 0px;
}
.topic h4 {
    font-family: 'Roboto-Bold',sans-serif;
    font-size: 12px;
    color: #999999;
    letter-spacing: 0px;
    line-height: 14px;
}

.topic-content {
    margin-top: 23px;
    margin-bottom: 39px;

}

.topic-content li,p {
    margin-top: 8px;
    font-size: 18px;
    color: #444444;
}

.headerClient {
    padding: 32px;
}

.headerClient img {
    margin-left: 0;
    margin-right: 32px;
    display: inline;
}

.headerClient a {
    text-decoration: none;
    font-family: 'Roboto-Regular', sans-serif;
    color: #000000;
}

.menu-top {
    display: grid;
    grid-template-columns: 200px 100px 100px 140px 1fr;
    align-items: center;
}

.filterHeader form input {
    border: 1px solid #eee;
}

/* == ADMIN ONLY*/

.adminHeader {
    height: 80px;
    background-color: #111111;
}

.links {
    max-width: 940px;
    margin: 0 auto;
    padding: 32px;
    display: grid;
    grid-template-columns: 120px 120px 120px;
    align-items: center;
}

.links a {
    font-family: 'Roboto-Bold', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
}



.admin-titles {
    margin: 56px 0 32px 0;

}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.card {
    display: grid;
    grid-template-columns: 250px 190px;
    grid-gap: 4px;
}

.card img {
    width: 250px;
    height: 95px;
    border-radius: 16px;
}

.recipe {
    width: 100%;
    height: 100%;
}

.recipe p, .recipe a {
    padding: 8px;
    text-decoration: none;
}



.buttons {
    position: absolute;
    top: 54px;
    right: 50px;
    border-radius: 4px 4px;
    background-color: #6558C3;
    width: 121px;
    height: 37px;
    color: white;
    font-family: 'Roboto-Bold', sans-serif;
    cursor: pointer;    
}

.btn-delete {
        position: absolute;
        top: 54px;
        right: 180px;
        border-radius: 4px 4px;
        background-color: #DC4747;
        width: 121px;
        height: 37px;
        color: white;
        font-family: 'Roboto-Bold', sans-serif;
        cursor: pointer;    
}

.buttonFilter {
    position: absolute;
    top: 38px;
    right: 50px;
    border-radius: 4px 4px;
    background-color: #6558C3;
    width: 121px;
    height: 37px;
    color: white;
    font-family: 'Roboto-Bold', sans-serif;
    cursor: pointer;    
}

.item {
    margin-top: 32px;
    font-family: 'Roboto-Bold', sans-serif;
    position: relative;
    
}

.item:last-child input {
    min-height: 257px;
    size: 16px;
    color: #111111;
    line-height: 19px;
}

.item input,select {
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-width: auto;
    width: 100%;
    height: 37px;
    border-radius: 6px;
    margin-top: 16px;
    padding-left: 8px;
}

.item select {
    background-color: white;
}

#informations {
    height: 257px;
}

.preparations input,
.ingredient input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-width: auto;
    width: 100%;
    height: 37px;
    border-radius: 6px;
    margin-top: 16px;
    margin-bottom: 8px;
    padding-left: 8px;
}
.add-method,
.add-ingredient {
    background-color: white;
    font-family: 'Roboto-Bold', sans-serif;
    size: 16px;
    line-height: 19px;
    color: #6558C3;
    cursor: pointer;
}

#buttonDelete {
    background-color: red;
    cursor: pointer;
}

.botao {
    cursor: pointer;
}

/* CHEFS */

 #exceptionItems input {
    min-height: unset;
    size: 16px;
    color: #111111;
    line-height: 19px;
}

#wrapper {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 32px;
    text-align: center;
}

#wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}

#wrapper h2 {
    font-size: 16px;
    line-height: 24px;
    color: #777777;
    margin-top: 4px;
}

#wrapper h1 {
    margin-bottom: 0;
    padding-bottom: 0px;
}