<!DOCTYPE html>

<html>
     <head>
        {% block head %}

            <title>
                Foodfy
            </title>
        {% endblock %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

    <link rel="stylesheet" href="/styles.css"> 
    </head> 
    
        <div class="adminHeader" >

    <div class="links">
        <img src="\logo.png" alt="Logo">
        <a href="/admin">RECEITAS</a>  
        <a href="/admin/chefs">CHEFS</a>
    </div>

        </div>

 <body>

      <div class="container">

    {% block content %}


    {% endblock content %}

    </div>
    
 </body>
   

    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer> 

    <script src="/scripts.js"></script>  
        

</html> 